[Unit]
Description=ZSwap-cli service
Documentation=man:zswap-cli(1) https://github.com/ElXreno/zswap-cli

[Service]
Type=oneshot
ExecStart=/usr/bin/zswap-cli set --use-config
ExecStop=/usr/bin/zswap-cli --enabled N
RemainAfterExit=yes
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target 
